{%- assign select_id = id | default: 'LanguageSwitcher' -%}
{%- assign wrapper_class = class | default: 'language-switcher' -%}

{%- if localization.available_languages.size > 1 -%}
  <div class="{{ wrapper_class }}">
    {%- form 'localization', class: 'language-switcher__form' -%}
      <label class="visually-hidden" for="{{ select_id }}">
        {{ 'general.language.label' | t }}
      </label>

      <div class="language-switcher__select-wrapper">
        <select
          id="{{ select_id }}"
          class="language-switcher__select"
          name="locale_code"
          aria-label="{{ 'general.language.label' | t }}"
          onchange="this.form.submit()"
        >
          {%- for language in localization.available_languages -%}
            <option value="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code -%}selected{% endif %}>
              {{ language.endonym_name }}
            </option>
          {%- endfor -%}
        </select>
        <span class="language-switcher__chevron" aria-hidden="true">
          {% render 'icon-chevron' %}
        </span>
      </div>

      <noscript>
        <button type="submit" class="language-switcher__submit">
          {{ 'general.language.submit' | t }}
        </button>
      </noscript>
    {%- endform -%}
  </div>
{%- endif -%}
