<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <title>{{ shop.name }}</title>

  {{ content_for_header }}

  {{ 'theme.css' | asset_url | stylesheet_tag }}
</head>

<body class="template-password">
  <main role="main">
    {{ content_for_layout }}
  </main>

  {{ 'password.css' | asset_url | stylesheet_tag }}
</body>
</html>
