{{ 'section-image-with-text.css' | asset_url | stylesheet_tag }}

<div class="image-with-text">
  <div class="page-width">
    <div class="image-with-text__grid">
      <div class="image-with-text__media">
        {% if section.settings.image_left != blank %}
          <img
            src="{{ section.settings.image_left | image_url: width: 800 }}"
            srcset="
              {{ section.settings.image_left | image_url: width: 400 }} 400w,
              {{ section.settings.image_left | image_url: width: 600 }} 600w,
              {{ section.settings.image_left | image_url: width: 800 }} 800w,
              {{ section.settings.image_left | image_url: width: 1200 }} 1200w
            "
            sizes="(min-width: 990px) 50vw, 100vw"
            alt="{{ section.settings.image_left.alt | escape }}"
            loading="lazy"
            width="{{ section.settings.image_left.width }}"
            height="{{ section.settings.image_left.height }}"
          >
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>

      <div class="image-with-text__media">
        {% if section.settings.image_right != blank %}
          <img
            src="{{ section.settings.image_right | image_url: width: 800 }}"
            srcset="
              {{ section.settings.image_right | image_url: width: 400 }} 400w,
              {{ section.settings.image_right | image_url: width: 600 }} 600w,
              {{ section.settings.image_right | image_url: width: 800 }} 800w,
              {{ section.settings.image_right | image_url: width: 1200 }} 1200w
            "
            sizes="(min-width: 990px) 50vw, 100vw"
            alt="{{ section.settings.image_right.alt | escape }}"
            loading="lazy"
            width="{{ section.settings.image_right.width }}"
            height="{{ section.settings.image_right.height }}"
          >
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Two vertical images",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_left",
      "label": "Left image"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Right image"
    }
  ],
  "presets": [
    {
      "name": "Two vertical images"
    }
  ]
}
{% endschema %}
