<div class="password-page">
  <header class="password-header">
    <h1 class="password-header__title">{{ shop.name }}</h1>
  </header>

  <main class="password-main">
    <div class="password-content">
      {% form 'storefront_password', class: 'password-form' %}
        <h2>{{ 'general.password_page.opening_soon' | t }}</h2>
        
        {% if form.errors %}
          <div class="form-error">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <div class="password-form__input-wrapper">
          <label for="password" class="visually-hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
          <input
            type="password"
            name="password"
            id="password"
            class="password-form__input"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
            autocomplete="current-password"
          >
          <button type="submit" name="commit" class="button">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
      {% endform %}

      {% if shop.password_message != blank %}
        <div class="password-message rte">
          {{ shop.password_message }}
        </div>
      {% endif %}
    </div>

    <footer class="password-footer">
      <div class="password-login">
        {{ 'general.password_page.admin_link_html' | t }}
      </div>
      <div class="password-powered">
        {{ powered_by_link }}
      </div>
    </footer>
  </main>
</div>
